header {
    padding: 0px 170px;
}
.index-icons {
    padding: 0px 170px;
}
.index-icons-container {
    position: relative;
    z-index: 1;
    display: grid;
    grid-row: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 45px;
    justify-content: center;
}
.index-icons-block {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px;
}
.index-icons-block div {
    width: 100%;
}
.index-icons-block h3 {
    margin: 30px 0px;
}
#index-icons-line {
    height: 20px;
    width: 75%;
    left: 0;
    top: 160px;
}
/* index-images-section */
.index-images {
    padding: 0px 170px;
}
.index-image-block {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0px;
}
.index-image-block img {
    margin: 0px;
}
.reverse-block {
    order: 2;
    margin-left: 100px;
}
.non-reverse-block {
    margin-right: 100px;
}
.margin-block {
    margin-bottom: 100px;
}
.svg-left-arrow {
    top: 150px;
}
/* download section */
.download-section {
    height: 300px;
    padding: 0px 170px;
    flex-direction: row;
    justify-content: space-between;
}
.app-icons{
    justify-content: flex-end;
    margin: 0px;
}
/* footer */
footer {
    padding-left: 170px;
    padding-right: 170px;
}