/* elements */
button {
    width: 180px;
    height: 50px;
    font-family: 'Lexend Deca', sans-serif;
    background-color: #FCB72B;
    color: #fff;
    border: none;
}
button:hover {
    background-color: transparent;
    border: 2px solid #FCB72B;
    color: #FCB72B;
}
/* spacing */
.container {
    padding: 0px 30px;
}
/* font styling*/
h1, h2, h3, h4, h5 {
    font-family: 'Space Mono', monospace;
}
p, a, li {
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.8;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}
/* color schemes */
.yellow {
    color: rgb(252, 183, 43);
}
.darknavy {
    color: rgb(73, 85, 103);
}
.dimgrey {
    color: rgb(147, 156, 170);
}
.lightgrey {
    color: rgb(229, 236, 244);
}
.snow {
    color: rgb (242, 245, 249);
}
.lightyellow {
    color: rgb(255, 244, 223);
}
.white {
    color: rgb(255, 255, 255);
}
